<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties" ref="applicationProperties"/>
	</bean>

	<bean id="simpleMailService" class="com.casic.core.mail.SimpleMailService">
		<property name="defaultFrom" value="18210527512@163.com" />
		<property name="defaultTo" value="410611627@qq.com" />
		<property name="defaultSubject" value="Hello Demo Mossle" />
		<property name="defaultContent" value="Hello Demo Mossle"/>
		<property name="mailSender" ref="mailSender"/>
	</bean>

<!--  
	<bean id="simpleMailService" class="com.casic.core.mail.SimpleMailService">
		<property name="defaultFrom" value="demo.mossle@gmail.com" />
		<property name="defaultTo" value="demo.mossle@gmail.com" />
		<property name="defaultSubject" value="Hello Demo Mossle" />
		<property name="defaultContent" value="Hello Demo Mossle"/>
		<property name="mailSender" ref="mailSender"/>
	</bean>
-->

</beans>